<!Doctype Html>  
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script type-"text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <h1 class="display-4">FX Optimiser</h1>
      <p class="lead"> Your transaction is complete please find the order details below </p>
      <p class ="lead"> <a href="/fx/home">Click here</a>for Sample order placement </p>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center" style="color:Red">
            <h1>Error fetching order details, Please retry the transaction</h1>
    </div>
 </div>
</body>
</html>