<!Doctype Html>  
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script type-"text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://unpkg.com/@paypal/paypal-js@5.0.2/dist/iife/paypal-js.min.js"></script>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="logo-container"><svg class="dev-logo" width="163" height="47" viewBox="0 0 163 47" fill="none" xmlns="http://www.w3.org/2000/svg"><title>PayPal Developer Logo</title><path fill-rule="evenodd" clip-rule="evenodd" d="M3.49888 13H9.92288C14.1762 13 16.0242 15.112 15.4082 18.7787C14.7629 22.8267 12.3282 24.88 8.10421 24.88H6.08021C5.64021 24.88 5.25888 25.2027 5.20021 25.6427L4.49621 30.072C4.43754 30.512 4.05621 30.8347 3.61621 30.8347H0.53621C0.213544 30.8347 -0.0504563 30.5413 0.00821031 30.2187L2.61888 13.7627C2.67754 13.3227 3.05888 13 3.49888 13ZM6.84288 21.3307C8.54421 21.3307 10.3042 21.3307 10.6562 19.0133C11.0375 16.5787 9.30688 16.5493 7.51754 16.5787H7.07754C6.81354 16.5787 6.57888 16.7547 6.54954 17.0187L5.87488 21.3307H6.84288Z" fill="#003087"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.0266 18.9555H29.1066C29.4293 18.9555 29.6933 19.2488 29.6346 19.5421L27.9626 30.0728C27.904 30.5128 27.5226 30.8355 27.0826 30.8355H24.3253C24.0026 30.8355 23.7386 30.5421 23.7973 30.2195L23.944 29.3688C23.944 29.3688 22.4186 31.1288 19.6906 31.1288C15.4666 31.1288 14.2053 27.6381 14.6746 24.8515C15.232 21.2141 18.136 18.6621 21.5093 18.6328C23.0053 18.6328 24.472 18.9555 25.1466 19.9235L25.352 20.2461L25.4986 19.3955C25.528 19.1608 25.7626 18.9555 26.0266 18.9555ZM21.3626 27.8728C23.1226 27.8728 24.5306 26.6995 24.824 24.9395C25.088 23.2088 24.0613 21.9181 22.2426 21.9181C20.512 21.9181 19.0746 23.1501 18.8106 24.8808C18.5173 26.5821 19.4853 27.8728 21.3626 27.8728Z" fill="#003087"></path>
        <path d="M45.5042 18.9551H42.4242C42.1309 18.9551 41.8375 19.1018 41.6909 19.3364L37.4082 25.6138L35.5895 19.5711C35.4722 19.1898 35.1202 18.9258 34.7389 18.9258H31.6882C31.3069 18.9258 31.0722 19.2778 31.1895 19.6298L34.5922 29.6324L31.3949 34.1498C31.1309 34.5018 31.3949 35.0004 31.8349 35.0004H34.9149C35.2082 35.0004 35.4722 34.8538 35.6482 34.6191L45.9149 19.7764C46.1789 19.4244 45.9149 18.9551 45.5042 18.9551Z" fill="#003087"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M49.2586 13H55.6826C59.936 13 61.784 15.112 61.168 18.7787C60.5226 22.8267 58.088 24.88 53.864 24.88H51.84C51.4 24.88 51.0186 25.2027 50.96 25.6427L50.256 30.072C50.1973 30.512 49.816 30.8347 49.376 30.8347H46.296C45.9733 30.8347 45.7093 30.5413 45.768 30.2187L48.3786 13.7627C48.4373 13.3227 48.8186 13 49.2586 13ZM52.6026 21.3307C54.304 21.3307 56.064 21.3307 56.416 19.0133C56.7973 16.5787 55.0666 16.5493 53.2773 16.5787H52.8373C52.5733 16.5787 52.3386 16.7547 52.3093 17.0187L51.6346 21.3307H52.6026Z" fill="#009CDE"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M71.7864 18.9555H74.8664C75.1891 18.9555 75.4531 19.2488 75.3944 19.5421L73.7224 30.0728C73.6637 30.5128 73.2824 30.8355 72.8424 30.8355H70.0851C69.7624 30.8355 69.4984 30.5421 69.5571 30.2195L69.7037 29.3688C69.7037 29.3688 68.1784 31.1288 65.4504 31.1288C61.2264 31.1288 59.9651 27.6381 60.4344 24.8515C60.9917 21.2141 63.8957 18.6621 67.2691 18.6328C68.7651 18.6328 70.2317 18.9555 70.9064 19.9235L71.1117 20.2461L71.2584 19.3955C71.2877 19.1608 71.5224 18.9555 71.7864 18.9555ZM67.1224 27.8728C68.8824 27.8728 70.2904 26.6995 70.5837 24.9395C70.8477 23.2088 69.8211 21.9181 68.0024 21.9181C66.2717 21.9181 64.8344 23.1501 64.5704 24.8808C64.2771 26.5821 65.2451 27.8728 67.1224 27.8728Z" fill="#009CDE"></path>
        <path d="M78.533 13.44L75.893 30.2187C75.8343 30.5413 76.0983 30.8347 76.421 30.8347H79.061C79.501 30.8347 79.8823 30.512 79.941 30.072L82.5516 13.616C82.6103 13.2933 82.3463 13 82.0236 13H79.061C78.797 13 78.5916 13.2053 78.533 13.44Z" fill="#009CDE"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M92.086 30.8351C96.3686 30.8351 99.1553 27.7257 99.1553 24.0004C99.1553 21.3017 97.454 18.9551 93.758 18.9551H90.0033L88.126 30.8351H92.086ZM93.5233 20.3337C95.7526 20.3337 97.454 21.5657 97.454 24.1177C97.454 27.0217 95.4006 29.4271 92.2033 29.4271H90.0033L91.4406 20.3337H93.5233Z" fill="#999999"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M108.131 26.347C108.161 26.1417 108.19 25.8483 108.19 25.5257C108.19 23.4137 106.929 22.1523 104.905 22.1523C101.385 22.1523 99.918 25.2323 99.918 27.227C99.918 29.6323 101.473 31.1577 103.761 31.1577C104.963 31.1577 106.019 30.835 106.899 30.2483L107.105 28.9577C106.283 29.4563 105.374 29.8083 104.142 29.8083C102.411 29.8083 101.443 28.7523 101.502 27.1097H107.955C108.043 26.8163 108.102 26.5523 108.131 26.347ZM106.694 25.8777H101.707C102.03 24.7923 103.057 23.443 104.729 23.443C106.489 23.443 106.811 24.8803 106.694 25.8777Z" fill="#999999"></path>
        <path d="M112.326 30.8347H110.888L108.894 22.416H110.419L111.856 28.9867L115.347 22.416H116.96L112.326 30.8347Z" fill="#999999"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M124.558 26.347C124.587 26.1417 124.617 25.8483 124.617 25.5257C124.617 23.4137 123.355 22.1523 121.331 22.1523C117.811 22.1523 116.345 25.2323 116.345 27.227C116.345 29.6323 117.899 31.1577 120.187 31.1577C121.39 31.1577 122.446 30.835 123.326 30.2483L123.531 28.9577C122.71 29.4563 121.801 29.8083 120.569 29.8083C118.838 29.8083 117.87 28.7523 117.929 27.1097H124.382C124.47 26.8163 124.529 26.5523 124.558 26.347ZM123.121 25.8777H118.134C118.457 24.7923 119.483 23.443 121.155 23.443C122.915 23.443 123.238 24.8803 123.121 25.8777Z" fill="#999999"></path>
        <path d="M126.553 30.8351H125.027L126.875 18.9551H128.43L126.553 30.8351Z" fill="#999999"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M132.126 31.1283C134.971 31.1283 137.171 28.7817 137.171 26.0537C137.171 23.6777 135.499 22.1523 133.358 22.1523C130.366 22.1523 128.312 24.587 128.312 27.227C128.312 29.603 129.984 31.1283 132.126 31.1283ZM132.185 29.7497C130.894 29.7497 129.867 28.723 129.867 27.139C129.867 25.379 131.129 23.531 133.27 23.531C134.443 23.531 135.587 24.411 135.587 26.083C135.587 27.931 134.238 29.7497 132.185 29.7497Z" fill="#999999"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M140.222 23.707L140.427 22.4163H138.902L136.995 34.4723H138.579L139.371 29.4563C139.899 30.571 140.896 31.1283 142.334 31.1283C144.798 31.1283 146.968 28.6643 146.968 25.9363C146.968 23.795 145.531 22.1523 143.478 22.1523C142.158 22.1523 140.984 22.6803 140.222 23.707ZM139.723 27.139C139.723 25.1737 141.131 23.531 142.979 23.531C144.446 23.531 145.355 24.6163 145.384 26.1123C145.384 28.195 143.712 29.7203 142.011 29.7203C140.72 29.7203 139.723 28.6937 139.723 27.139Z" fill="#999999"></path>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M155.945 26.347C155.974 26.1417 156.003 25.8483 156.003 25.5257C156.003 23.4137 154.742 22.1523 152.718 22.1523C149.198 22.1523 147.731 25.2323 147.731 27.227C147.731 29.6323 149.286 31.1577 151.574 31.1577C152.777 31.1577 153.833 30.835 154.713 30.2483L154.918 28.9577C154.097 29.4563 153.187 29.8083 151.955 29.8083C150.225 29.8083 149.257 28.7523 149.315 27.1097H155.769C155.857 26.8163 155.915 26.5523 155.945 26.347ZM154.507 25.8777H149.521C149.843 24.7923 150.87 23.443 152.542 23.443C154.302 23.443 154.625 24.8803 154.507 25.8777Z" fill="#999999"></path>
        <path d="M161.342 23.7068C159.934 23.7068 158.966 24.7921 158.702 26.5814L158.027 30.8348H156.502L157.822 22.4161H159.318L159.083 23.8534C159.787 22.8561 160.609 22.3574 161.577 22.3574C161.811 22.3574 162.046 22.3868 162.251 22.4161L162.046 23.7654C161.811 23.7361 161.577 23.7068 161.342 23.7068Z" fill="#999999"></path></svg></div>
      <h1 class="display-4">FX optimiser</h1>
      <p class="lead">Simple tool to demo the usage of Quote  API and order API</p>
      <p class ="lead"> <a href="/currencyconvertor">Click here</a>Currency Conversion </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
       <h2>PHONE</h2>
      <img src="https://m.media-amazon.com/images/I/71gm8v4uPBL._SX522_.jpg" class="image-fluid" alt="responsive image">
      </div>
      <div class="col">
        <form onsubmit="return false;">
            <div class="form-group">
              <h3 for="exampleFormControlInput1">Price in Base Currency : <kbd>10 USD</kbd> </h3>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select the currency for Payment</label>
                <select class="form-control" id="targetcur">
                <option>ALL</option>
                <option>DZD</option>
                <option>AOA</option>
                <option>AWG</option>
                <option>BSD</option>
                <option>BBD</option>
                <option>BMD</option>
                <option>BTN</option>
                <option>BOB</option>
                <option>BAM</option>
                <option>BGN</option>
                <option>BIF</option>
                <option>BND</option>
                <option>CVE</option>
                <option>KYD</option>
                <option>XAF</option>
                <option>CLP</option>
                <option>COP</option>
                <option>KMF</option>
                <option>CDF</option>
                <option>CRC</option>
                <option>HRK</option>
                <option>DJF</option>
                <option>DOP</option>
                <option>XCD</option>
                <option>EGP</option>
                <option>ETB</option>
                <option>FKP</option>
                <option>FJD</option>
                <option>GMD</option>
                <option>GIP</option>
                <option>GTQ</option>
                <option>GNF</option>
                <option>GYD</option>
                <option>HNL</option>
                <option>ISK</option>
                <option selected>INR<option>
                <option>IDR</option>
                <option>JMD</option>
                <option>KES</option>
                <option>LAK</option>
                <option>MKD</option>
                <option>MGA</option>
                <option>MVR</option>
                <option>MRO</option>
                <option>MUR</option>
                <option>MNT</option>
                <option>MDL</option>
                <option>NAD</option>
                <option>NPR</option>
                <option>ANG</option>
                <option>NIO</option>
                <option>PGK</option>
                <option>PYG</option>
                <option>PEN</option>
                <option>QAR</option>
                <option>RON</option>
                <option>SHP</option>
                <option>WST</option>
                <option>SAR</option>
                <option>RSD</option>
                <option>SCR</option>
                <option>SLL</option>
                <option>SBD</option>
                <option>SOS</option>
                <option>KRW</option>
                <option>LKR</option>
                <option>SRD</option>
                <option>SZL</option>
                <option>TJS</option>
                <option>TZS</option>
                <option>TOP</option>
                <option>TTD</option>
                <option>AED</option>
                <option>UYU</option>
                <option>VUV</option>
                <option>VND</option>
                <option>USD</option>
                <option>GBP</option>
                <option>AUD</option>
                <option>EUR</option>
                <option>BRL</option>
                <option>CAD</option>
                <option>CNY</option>
                <option>CZK</option>
                <option>DKK</option>
                <option>HKD</option>
                <option>HUF</option>
                <option>ILS</option>
                <option>JPY</option>
                <option>MYR</option>
                <option>MXN</option>
                <option>TWD</option>
                <option>NZD</option>
                <option>NOK</option>
                <option>PHP</option>
                <option>PLN</option>
                <option>RUB</option>
                <option>SGD</option>
                <option>SEK</option>
                <option>CHF</option>
                <option>THB</option>
                </select>
            </div>
            <div id="result" class="form-group">
            </div>
            <div style="text-align: center;">
              <div id="paypal-button"></div>
            </div>
          </form>
      </div>
    </div>
    <div class="row">
      <div class="orderresults">
        
      </div>
    </div>
<script>
$(document).ready(function() {
  $.ajax({
      url :'http://localhost:8080/fx/switchenv?mode=sandbox',
      type :'GET',
      dataType : 'json',
      success : function(result){
        console.log("result "+result.status);
        alert("token generated successfully");
      }
  });
/*  $.ajax({
    url:'http://localhost:8080/fx/exchangecurrency?baseamount=10.00&basecur=USD&targetcur=IND&mode=sandbox',
    type:"GET",
    dataType :'json',
    success: function(result){
    $("#result").append("<h4 id='targetval'>Product Price in Buyer Currency>> <span class='badge badge-secondary' id='tarval'>"+result.quoteval+"</span><p id='fxid' hidden>"+result.fx_id+"</p></h4>");
    }
  });
  */
 $("#targetcur").on('change', function(){
        if($('#targetval').length){
          console.log("inside target")
        $('#targetval').remove();
        }
        console.log("clicked");
        let baseURL = "http://localhost:8080/fx/exchangecurrency?baseamount=10.00&basecur=USD&targetcur="+$("#targetcur").val()+"&mode=sandbox";
        console.log(baseURL);
       $.ajax({
            url:baseURL,
            type:"GET",
            dataType :'json',
            success: function(result){
            $("#result").append("<h2 id='targetval'>Price in Buyer Currency : <kbd id='tarval'>"+result.quoteval+"</kbd><p id='fxid' hidden>"+result.id+"</p></h2>");
            }
        });
        window.paypalLoadScript({ "client-id": "AdtQFOeXF-CnTJKGOuTNZ_WNJSOA1qL2TKoyuTkouG2M2qmec3zlckAUDcG-rdIEL4Wf6qhQ_x_4QiSY" ,
                                  "currency": $("#targetcur").val()}).then((paypal) => {
                    paypal.Buttons( {createOrder: function(data, actions) {
                var val = $("#tarval").text();
                console.log("tagr "+val);
                var cur = $("#targetcur").val();
                var xid = $("#fxid").text();
                return actions.order.create({purchase_units: [{
                     amount: {
                            value : val,
                            currency_code : cur
                        },
                        payment_instruction: {
                        payee_receivable_fx_rate_id: xid
                        }
                    }]});
                },
            onError: function (err) {
              //
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderdata) {
                // your custom code here for handling success
                console.log('Capture result', orderdata, JSON.stringify(orderdata, null, 2));

                //$("#orderdata").append(" <h2> Placed order details</h2> <table class='table table-bordered'><thead><tr><th>")
                actions.redirect("http://localhost:8080/orderdetails/?token="+orderdata.id);
            }
            )}
            
          }).render("#paypal-button")
        });
})
})
</script>
</body>